# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log files
npm-debug.log*

# Ignore yarn-error.log files
yarn-error.log*

# Ignore .env files (if used for environment variables)
.env

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore package-lock.json (use either this or yarn.lock)
package-lock.json

# Ignore yarn.lock (use either this or package-lock.json)
yarn.lock

# Ignore .npmrc files
.npmrc
